html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
   
}

.carousel-inner {
    width: auto;
    height: 500px;
    max-height: 500px !important;
}

.carousel-content {
    color: black;
    display: flex;
    text-align: center;
}
